FactoryBot.define do
  factory :<%= _class_name_ug %><% if module? %>, class: '<%= class_name %>'<% end %> do
    label { Faker::Lorem.unique.word }
    association :creator
  end

  trait :discarded_<%= _class_name_ug %> do
    discarded_at { 1.hour.ago }
  end
end
