<%%
  @breadcrumbs = [
    {
      title: '<%= r_pluralize(r_capitalize(resource_name)) %>',
      path: <%= plural_name %>_path
    },
    {
      title: @<%= _class_name_dd %>.label,
      path: <%= _class_name_ug %>_path(@<%= _class_name_dd %>),
    },
  ]
%>

<%%= render 'form', back_path: <%= _class_name_ug %>_path(@<%= _class_name_dd %>) %>