<%
  url = url || nil
  show_search_field = show_search_field || true
  search_key = search_key || :q
  onchange_action = onchange_action || 'this.form.submit();'
%>
<%= search_form_for q, class: 'display-flex, ml-2 mr-2', url: url, as: search_key do |f| %>
  <div class="row">
    <% if show_search_field %>
      <div class="col p-1">
        <%= f.search_field :search_cont, value: params.dig(search_key, :search_cont), placeholder: 'Поиск', class: 'search-field float-left form-control form-control-sm' %>
      </div>
    <% end %>
    <div class="col p-1">
      <%= f.select(:by_discarded, [['Активные', 'active'], ['Удалённые', 'discarded']], { include_blank: '[Все]', selected: params.dig(search_key, :by_discarded) }, { class: 'discarded-field float-left form-control form-control-sm', onchange: onchange_action }) %>
    </div>
  </div>
<% end %>
