.pagination {
  margin: 0;
}
.discarded-field {
  min-width: 140px;
}
.role-field {
  min-width: 171px;
}
.search-field {
  min-width: 220px;
}
.table th, .table td {
  padding: 0.4rem;
}
.checkbox-field {
  max-width: 1rem;
}

// card //
.top-card-title {
  margin: 0 0 .25rem .25rem;
}
.card-body .form-group:last-child {
  margin-bottom: 0 !important;
}
//----//

// form-card //
.form-field {
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
}
.form-card > div.form-field:first-of-type {
  border-top: 0;
  padding-top: 0 !important;
}
.form-card > div.form-field:last-of-type {
  padding-bottom: 0 !important;
}
.form-card > .form-field input[type=number],
.form-card > .form-field textarea,
.form-card > .form-field select {
  margin-bottom: 0.25rem;
}
//----//

// custom bg colors //
.card-primary-2:not(.card-outline) > .card-header {
  background-color: #73b8ff;
  color: #fff;
}
.card-primary-2:not(.card-outline) > .card-header a {
  color: #495057;
}
.card-primary-2:not(.card-outline) > .card-header a.active {
  color: #1f2d3d;
}
.card-primary-2:not(.card-outline) > .card-header .pagination .page-item.active a {
  color: #fff;
}
.card-primary-2:not(.card-outline) > .card-header .pagination .page-item.active a:hover {
  color: #f1f1f1;
}
.card-primary-2.card-outline {
  border-top: 3px solid #73b8ff;
}
.card-primary-2.card-outline-tabs > .card-header a:hover {
  border-top: 3px solid #dee2e6;
}
.card-primary-2.card-outline-tabs > .card-header a.active,
.card-primary-2.card-outline-tabs > .card-header a.active:hover {
  border-top: 3px solid #73b8ff;
}
.card-primary-2:not(.card-outline) > .card-header .btn-tool {
  color: rgba(255, 255, 255, 0.8);
}
.card-primary-2:not(.card-outline) > .card-header .btn-tool:hover {
  color: #495057;
}
//----//
