class Create<%= class_name.gsub('::', '').pluralize %> < ActiveRecord::Migration[6.1]
  def change
    create_table :<%= _class_name_ug.pluralize %> do |t|
      t.string :label
      t.references :creator, null: false, foreign_key: {to_table: :users}

      t.timestamps
      t.datetime :discarded_at, index: true
    end
  end
end
